@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


.AppMain {
    @include u1.block_display();
    width: 75%;
    margin: u1.rem(80) auto;
    @include u1.breakpoint-down(medium) { // max-width: 699.98px
        width: 93%;
        margin: u1.rem(40) auto;
    }


    &__Header {
        // font-size: u1.rem(35);
        font-size: calc(16px + 2vw);
        margin-bottom: u1.rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .AppPrf_name {
            text-transform: capitalize;
            display: flex;
            align-items: center;
            margin: u1.rem(5) 0 0;

            button {
                left: 4%;
                padding: 15px 15px;
                width: u1.rem(140);
                font-size: u1.rem(16);
                font-weight: bold;
                background-color: #f1f2f6;
                border: 2px solid #fefefe;
                border-radius: 60px;

                @include u1.breakpoint-down(medium) { // max-width: 699.98px
                    width: u1.rem(100);
                    font-size: u1.rem(13);
                }
            }
        }

        .AppPrf_img {
            width: 170px;
            height: 170px;
            border: 2px solid salmon;
            border-radius: 150px;
            text-align: center;
            background-color: aqua;
            position: relative;
            overflow: hidden;
            @include u1.breakpoint-down(medium) { // max-width: 699.98px
                width: 110px;
                height: 110px;
            }

            img {
                position: relative;
                width: 100%;
                max-height: 100%;
            }
        }
    }

    &__EchT {
        display: flex;
        font-size: u1.rem(20);
        font-weight: bold;
        padding: 12px 0;
        @include u1.breakpoint-down(medium) { // max-width: 699.98px
            font-size: u1.rem(16);
        }

        .EchT1 {
            width: 70%;

            &::first-letter {
                text-transform: capitalize;
            }
        }
        .EchT2, .EchT3 {
            width: 15%; text-align: center;
        }
    }

    .AppShow__EchT {
        .EchT2 {
            color: #0056b6;
            &:hover { text-decoration: underline; cursor: pointer; font-weight: 700; }
        }
        .EchT3 {
            color: #FC427B;
            &:hover { text-decoration: underline; cursor: pointer; font-weight: 700; }
        }
    }

    &__smallText {
        font-size: u1.rem(16.5);
        font-weight: 400;

        @include u1.breakpoint-down(medium) { // max-width: 699.98px
            font-size: u1.rem(14);
        }
    }

    .iconsO {
        position: relative;
        margin-inline-end: 5px;
    }

    button {
        position: relative;
        cursor: pointer;

        &:active {
            top: 2px;
        }
    }
}