@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


.AppMain {
    @include u1.block_display();
    width: 75%;
    margin: u1.rem(80) auto;

    &__Header {
        font-size: u1.rem(35);
        margin-bottom: u1.rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .AppPrf_name {
            text-transform: capitalize;
            display: flex;
            margin: u1.rem(5) 0 0;

            button {
                // position: relative;
                left: 4%;
                padding: 15px 15px;
                width: u1.rem(140);
                font-size: u1.rem(16);
                font-weight: bold;
                background-color: #f1f2f6;
                // background-color: #f1f2f6;
                border: 2px solid #fefefe;
                border-radius: 60px;
                // box-shadow: 6px 6px 7px #e9e9ea, -6px -6px 7px #ffffff;
            }
        }

        .AppPrf_img {
            width: 170px;
            height: 170px;
            border: 2px solid salmon;
            border-radius: 150px;
            text-align: center;
            background-color: aqua;
            position: relative;
            overflow: hidden;

            img {
                position: relative;
                width: 100%;
                max-height: 100%;
            }
        }
    }

    &__EchT {
        display: flex;
        font-size: u1.rem(20);
        font-weight: bold;
        padding: 10px 0;

        .EchT1 {
            width: 70%;
        }
        .EchT2, .EchT3 {
            width: 15%; text-align: center;
        }
    }

    .AppShow__EchT {
        .EchT2 {
            color: #0056b6;
            &:hover { text-decoration: underline; cursor: pointer; font-weight: 700; }
        }
        .EchT3 {
            color: #FC427B;
            &:hover { text-decoration: underline; cursor: pointer; font-weight: 700; }
        }
    }

    &__smallText {
        font-size: u1.rem(16.5);
        font-weight: 400;
    }

    .iconsO {
        position: relative;
        margin-inline-end: 5px;
    }

    button {
        position: relative;
        cursor: pointer;

        &:active {
            top: 2px;
        }
    }
}