.TBigBox {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;


    &__next {
        background-color: #f5f6fa;
        margin: 10em auto;
        width: 70%;
        border-radius: 10px;
        text-align: center;
    }
}